body {
  margin: 0;
  background-color: #282828;
}

#page-container {
  background: url('img/Background.png');
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
}

#cat-image {
  background: url(https://s3.amazonaws.com/btp-front-end-testing/cats.jpg) center center no-repeat;
  background-color: rgba(248, 247, 216, 0.7);
  width: 38.89%;
  background-size: cover;
  height: 100%;
  position: relative;
  background-position: left -400px top 0;
  min-width: 320px;
}

#text-over-image {
  line-height: 1.2777em;
  display: inline-block;
  height: 10%;
  width: 55.81%;
  text-align: left;
  font-size: 36px;
  font-family: "Arial-BoldMT", "Arial Bold", Arial, sans-serif;
  position: relative;
  margin: 0;
}

#layer {
  background-color: #FFFFFF;
  opacity: .7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-footer-container {
  display: flex;
  flex-direction: column;
  width: 61.18%;
}

#login-container {
  background-color: #EEEEEE;
  height: 66.11%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form {
  position: relative;
  width: 45.18%;
  min-width: 300px;
  height: 41.73%;
  min-height: 275px;
}

.icon-and-field {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, .6);
  margin: 0;
  height: 63px;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.icon-and-field:focus-within {
  border-bottom: 1px solid #EF4C87;
}

.icon {
  height: 21px;
  width: 20px;
  margin-right: 28px;
  margin-left: 10px;
  top: 44px;
  position: relative;
}

.field {
  display: flex;
  flex-flow: column-reverse;
}

label, input {
  transition: all 0.2s;
  opacity: .6;
}

label {
  font-family: 'ArialMT', "Arial", sans-serif;
  font-size: 18px;
  text-align: left;
}

input {
  font-size: 18px;
  line-height: 1.6;
  border: 0;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem);
}

::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

input:focus {
  font-family: "Arial-BoldMT", "Arial Bold", Arial, sans-serif;
  opacity: 1;
}

button {
  width: 120px;
  height: 60px;
  bottom: 0;
  right: 0;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Arial-BoldMT", "Arial Bold", Arial, sans-serif;
  background: #231F20 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 13px #28282870;
  letter-spacing: 1.6px;
  color: #EF4C87;
  opacity: 1;
}

#footer-container {
  height: 33.89%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

#footer-text {
  line-height: 28px;
  font-size: 18px;
  margin: 0;
  text-align: left;
  color: #CFCFD0;
  font-family: "ArialMT", Arial, sans-serif;
  display: flex;
  position: relative;
  align-items: center;
  height: 22px;
  width: 389px;
}

@media only screen and (max-width: 1024px) {

  @media (orientation: landscape) {
    #text-over-image {
      width: 100vw;
      margin: 1% !important;
      font-size: 20px !important;
    }
  }

  #page-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #login-container {
    background: none;
    height: 90%;
  }
  
  #cat-image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-position: center;
  }

  #text-over-image {
    align-self: flex-start;
    align-items: flex-start;
    margin: 5%;
    text-align: center;
    height: 10%;
    font-size: 26px !important;
  }

  #login-footer-container {
    height: 80%;
  }

  #login-form {
    position: relative;
    align-self: center;
    justify-content: center;
    margin-top: 5%;
  }

  #footer-container {
    bottom: 0;
    max-width: 100vw;
    position: absolute;
    align-self: center;
    height: 10%;
    justify-content: center;
  }

  #footer-text {
    text-align: center;
    color: #282828;
    display: inline;
    font-size: 13px;
    padding-bottom: 5px;
  }
}
