body {
  margin: 0;
}

.page-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

}

.cat-image {
  background-color: white;
  width: 38.89%;
  position: relative;
}

.login-footer-container {
  display: flex;
  flex-direction: column;
  width: 61.18%;
}

.login-content {
  background-color: #EEEEEE;
  height: 66.11%
}

.footer {
  background-color: blue;
  height: 33.89%;
}